#vopros{
	color: blue;
//	color: transparent;
//background: hsl(0, 75%,45%);
text-shadow: 3px 3px 1px -8px hsla(0, 60%, 100%, 0.75),
            
}
#voDiv{
	//background: hsl(0, 75%,45%);
	background: yellow;
	text-shadow: 1px 1px 1px black, 0 0 1em blue; /* Параметры тени */
}
#podval{
	//background: hsl(0, 75%,45%);
	background: white;
	text-shadow: 1px 1px 1px black, 0 0 1em blue; /* Параметры тени */
}

.buttton-otv{
	align-self: center;
	background-color: #fff;
	background-image: none;
	background-position: 0 90%;
	background-repeat: repeat no-repeat;
	background-size: 4px 3px;
	border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
	border-style: solid;
	border-width: 2px;
	box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
	box-sizing: border-box;
	color: #41403e;
	cursor: pointer;
	display: inline-block;
	font-family: Neucha, sans-serif;
	font-size: 1rem;
	line-height: 23px;
	outline: none;
	padding: 5px 20px;
	margin: 10px 5px;
	text-decoration: none;
	transition: all 235ms ease-in-out;
	border-bottom-left-radius: 50px 255px;
	border-bottom-right-radius: 225px 50px;
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}
@-webkit-keyframes teni {
	0% {box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
		transform: translate3d(0, 2px, 0);}
}

.buttton-otv:hover {
	-webkit-animation:teni 2s infinite;
	
	//box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
	//transform: translate3d(0, 2px, 0);
	//transform: translate3d(20px, 10px, 0);
}

.buttton-otv_:focus {
	box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
	transform: translate3d(0, 2px, 0);
}
#otv2{
	padding: 5px 20px;
	margin: 10px 5px;
	//color: white;
	//background: black;
	font-size: large;
//text-decoration-color: yellow;
//text-shadow: 20px 20px 20px white, 2px 3px 5em white; /* Параметры тени */
}
#otv3{
	padding: 5px 20px;
	margin: 10px 5px;
	//color: white;
	//background: black;
	font-size: large;
//text-decoration-color: yellow;
//text-shadow: 20px 20px 20px white, 2px 3px 5em white; /* Параметры тени */
}



p 
{
color: blue;
}
table
{
	width: 100%;
	color: blue;
}
td
{
	text-align: left;
	width: 20%;
}

<!-- HTML !-->
<button class="button-55" role="button">Button 55</button>

													   /* CSS */
												   .button-55 {
													   align-self: center;
													   background-color: #fff;
													   background-image: none;
													   background-position: 0 90%;
													   background-repeat: repeat no-repeat;
													   background-size: 4px 3px;
													   border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
													   border-style: solid;
													   border-width: 2px;
													   box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
													   box-sizing: border-box;
													   color: #41403e;
													   cursor: pointer;
													   display: inline-block;
													   font-family: Neucha, sans-serif;
													   font-size: 1rem;
													   line-height: 23px;
													   outline: none;
													   padding: .75rem;
													   text-decoration: none;
													   transition: all 235ms ease-in-out;
													   border-bottom-left-radius: 15px 255px;
													   border-bottom-right-radius: 225px 15px;
													   border-top-left-radius: 255px 15px;
													   border-top-right-radius: 15px 225px;
													   user-select: none;
													   -webkit-user-select: none;
													   touch-action: manipulation;
												   }

.button-55:hover {
	box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
	transform: translate3d(0, 2px, 0);
}

.button-55:focus {
	box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}